#website-title-text {
    font-family: 'Audiowide', sans-serif;
    font-weight: 400;
    font-size: 32px; 
    color: #FFFFFF;

}

.navbar-wrapper{
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding-inline: 30px;
    background-color: #2A2939;
    overflow: hidden;
    z-index: 2;
}

.navbar-wrapper .userpfp-and-menu-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    column-gap: 10px;
    align-items: center;
}

.navbar-wrapper .userpfp-and-menu-bar img{
    height: 35px;
    width: 35px;
    object-fit: fill;
}