.productscroll-wrapper{
    margin-top: 100px;
    padding-inline: 60px;
}

.categoryname-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.categoryname-header button{
    height: fit-content;
    font-size: 10px;
}

.productscard-wrapper{
    height: fit-content;
    display: flex;
    width: 100%;
    gap: 30px;
    overflow: auto;
}

.productscard-wrapper::-webkit-scrollbar{
    height: 0.5rem;
}

.productscard-wrapper::-webkit-scrollbar-track{
    background: rgb(111, 114, 123);
    border-radius: 100px;
}
  
.productscard-wrapper::-webkit-scrollbar-thumb{
    max-width: 40px;
    color: white;
    background-color: white;
    border-radius: 100px;
}
