.prodcard-wrapper{
    position: relative;
    width: 250px;
    height: 300px;
    background-color: #2A2939;
    border-radius: 20px;
}

.prodcard-wrapper .prodcard-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 170px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
 
.prodcard-wrapper .prodcard-desc-wrapper{ 
    position: absolute;
    top: 170px;
    padding-inline: 20px;
}


