body {
  margin: 0;
  background-color: #14141e;
  height: fit-content;
  overflow-x: hidden; 
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: "Archivo";
  font-weight: 900;
  font-size: 40px;
  color: #FFFFFF;
}

h2{
  font-family: "Archivo", sans-serif;
  font-weight: 900;
  font-size: 36px;
  color: #FFFFFF;
}

h3 {
  font-family: "Archivo", sans-serif;
  font-weight: 900;
  font-size: 32px;
  color: #FFFFFF;
}

h4 {
  font-family: "Archivo", sans-serif;
  font-weight: 900;
  font-size: 22px;
  color: #FFFFFF;

}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: #FFFFFF;

}

a{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 14px;
  color: #FFFFFF;
  cursor: pointer;
}

button{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #FFFFFF;
}

button{
  background-image: linear-gradient(45deg, #EC6B51, #5681F5);
  padding: 12px 24px;
  border-radius: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  border: none;
  text-decoration: none;
  color: white;
  flex-wrap: nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
}

button::hover{
  transform: scaleX(1.2);
}